* {
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #138ceebb;
    color: #1a2533;
    
}

button {
    background-color: #65e2b2;
    border: none;
    border-radius: 15px;
    height: 30px;
    padding: 4px 10px;
    margin: 5px 10px;
}

button:hover {
    background-color: #87ffcd;
    box-shadow: 1px 2px 1px #706851;
}

select {
    border: none;
    border-radius: 5px;
    height: 30px;
    margin: 5px 10px;
    font-size: 1.25rem;
}

input {
    border-radius: 5px;
    margin: 5px 10px;
}

textarea {
    border-radius: 5px;
    border: solid black 2px; 
}


.main-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 0.4fr 6fr 2fr 4fr;
    grid-template-areas: 
    "nav nav nav"
    ". main ."
    ". col1 ."
    ". col2 .";
    width: 100%;
    min-height: 100vh;
    max-height: 150vh;
}

.link {
    color: black;
    text-decoration: none;
}

.link:hover {
    color: #dcd9fc;
}

.nav {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 30px;
}

.nav-container {
    background-color: #0068D3;
}

.col1 {
    grid-area: col1;
}

.col2 {
    grid-area: col2;
}

.main {
    grid-area: main;
}

.only-main {
    grid-area: main / main / col2 / col2;
}


@media (min-width: 800px) {
    .main-grid {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 3fr 4fr 3fr 1fr;
        grid-template-rows: 0.4fr 5fr 1fr;
        grid-template-areas: 
        "nav nav nav nav nav"
        ". col1 main col2 ."
        ". col1 main col2 .";
        width: 100%;
        min-height: 100vh;
        max-height: 150vh;
    }

    .only-main {
        grid-area: col1 / col1 / col2 / col2;
    }
}

.card {
    border-radius: 10px;
    border-left: #1a2533 double;
    border-right: #1a2533 double;
    margin: 20px 0px;
    padding: 10px;
}

.quiz-input {
    height: 50px;
    width: fit-content;
    font-size: 1.4rem;
    color: rgb(40, 30, 68);
}